<!DOCTYPE html>
<html>
<head>
    <title>Admin Products</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'drinksrus/admin_product_styles.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h3>Dashboard</h3>
            <h3><a href="">Orders</a></h3>
            <h3><a href="">Products</a></h3>
            <h3><a href="">log out</a></h3>
        </div>
        <div id="main_content">
            <form action="" method="POST">
                {%csrf_token%}
                <input type="text" value="search">
                <input type="submit" name="addnew" value="Add new product"> 
            </form>
            <table id="product_table">
                <tr>
                    <th>Picture</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Inventory Count</th>
                    <th>Quantity Sold</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>(future picture)</td>
                    <td>(future ID)</td>
                    <td>(future name)</td>
                    <td>(future inventorycount)</td>
                    <td>(future qty)</td>
                    <td><a href="/edit">edit</a><a href="">delete</a></td>
                </tr>
            </table>
        </div>
        <div id="footer">
            {% for page in pagelist %}
                <h5><a href="/home/{{page}}">{{page}}</a></h5>
            {% endfor%}
        </div>
    </div>
</body>
</html>