<!DOCTYPE html>
<html>
<head>
    <title>Orders Dashboard</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h3>Dashboard</h3>
            <h3><a href="">Orders</a></h3>
            <h3><a href="">Products</a></h3>
            <h3><a href="">log out</a></h3>
        </div>
        <div id="main_content">
            <form action="" method="POST">
                {%csrf_token%}
                <input type="text" value="search">
                <select name="status">
                    <option value="show_all">Show All</option>
                    <option value="process">Order In Process</option>
                    <option value="shipped">Shipped</option>
                </select>  
            </form>
            <table>
                <tr>
                    <th>Order ID</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Billing Address</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
                {%for order in orders%}
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.user.first_name}}</td>
                        <td>{{order.created_at}}</td>
                        <td>{{order.user.address}}{{order.user.address2}}</td>
                        <td>{{order.total_price}}</td>
                        <td>{{order.status}}</td>
                    </tr>
                {%endfor%}
            </table>
        </div>
        <div id="footer">
            {% for page in pagelist %}
                <h5><a href="/home/{{page}}">{{page}}</a></h5>
            {% endfor%}
        </div>
    </div>
</body>
</html>