<!DOCTYPE html>
<html>
<head>
    <title>DrinksRUs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'drinksrus/home_styles.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h2>Drinks R Us</h2>
            <h4><a href="">Shopping Cart</a></h4>
            <h4>{{cart}}</h4>
        </div>
        <div id="main_content">
            <div id="sidebar">
                <!-- search form -->
                <form action = "/search" method="POST">
                    {% csrf_token %}
                    <input type="text" name="searchName" value="product name">
                    <input type="submit" value="search">
                </form>
                <h3>Categories</h3>
                {%for category in categories%}
                    <h5>{{category.category}}</h5>
                {%endfor%}
                <h5><a href="/home">Show All</a></h5>
            </div>
            <div id="categories">
                <div id="categories_header">
                    <div id="cat_header_left">
                        <h2>{{categories.category}} (page {{pagenum}})</h2>
                    </div>
                    <div id="cat_header_right">
                        <h5><a href="">first</a></h5>
                        <h5><a href="">prev</a></h5>
                        <h5>{{pagenum}}</h5>
                        <h5><a href="">next</a></h5>
                        <form action="" method="POST">
                            {%csrf_token%}
                            <select name="sort">
                                <option value="price">Price</option>
                                <option value="most_popular">Most Popular</option>
                            </select>
                        </form>
                    </div>
                </div>
                {%for product in products%}
                    <h3>{{product.item}}</h3>
                    <h3>{{product.price}}</h3>
                {%endfor%}
            </div>
        </div>
        <div id="footer">
        {% for page in pagelist %}
            <h5><a href="/home/{{page}}">{{page}}</a></h5>
        {% endfor%}
        </div>
    </div>
</body>
</html>