<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart | DrinksRUs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'drinksrus/shoppingcart_styles.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h2>Drinks R Us</h2>
            <h4><a href="">Shopping Cart</a></h4>
            <h4>{{cart}}</h4>
        </div>
        <div id="cart">
            <table id="cart_table">
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                {%for product in products}
                    <tr>
                        <td>{{product.item}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{price * quantity}}</td>
                    </tr>
                {%endfor%}
            </table>
            <h5>Total:</h5>
            <a href="/home"><button>Continue Shopping</button></a>
        </div>
        <div id="info">
            <h2>Shipping Information</h2>
            <form action="" method="POST">
                First Name: <input type="text">
                Last Name: <input type="text">
                Address: <input type="text">
                Address 2: <input type="text">
                City: <input type="text">
                State: <input type="text">
                Zip Code: <input type="text">
            </form>
            <h2>Billing Information</h2>
            <form action="" method="POST">
                <input type="checkbox">
                First Name: <input type="text">
                Last Name: <input type="text">
                Address: <input type="text">
                Address 2: <input type="text">
                City: <input type="text">
                State: <input type="text">
                Zip Code: <input type="text">
                Card Number: <input type="text">
                Security Code: <input type="text">
                Expiration: <input type="date">
                <input type="submit" name="pay" value="Pay">
            </form>
        </div>
    </div>
</body>
</html>